@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Google Sans", sans-serif;
  color: #3b4252;
  background-color: #88c0d0;
}

main {
  margin: 2rem auto;
  padding: 1rem;
  inline-size: min(50ch, calc(100% - 1rem));
  background-color: #eceff4;
}

input,
textarea,
button {
  font-family: inherit;
}

input,
textarea {
  inline-size: 100%;
  font-size: 1.1rem;
  padding: 0.75em 1em;
  border: 1px solid rgb(from #a3be8c h s calc(l - 10%));
}

button {
  background-color: #5e81ac;
  color: white;
  border: none;
  border-radius: 100vmax;
  padding: 0.75em 1em;
  cursor: pointer;
  font-size: 1.2rem;
}